<div class="bg-dark">
    <app-nav></app-nav>
</div>
<div class="container">
    <div fxLayout="row">
        <div fxFlex="20" class="pt-4">
            <app-about-nav></app-about-nav>
        </div>
        <div fxFlex="80">
            <h1 class="pt-4 pb-4">Team AryaLinux</h1>
            <div class="vspace"></div>
            <h3>Chandrakant</h3>
            <strong>Founder, Developer and Maintainer</strong>
            <div style="height: 15px;"></div>
            <div fxLayout="row" fxLayoutGap="20px">
                <div fxFlex="10" fxLayout="column" fxLayoutAlign="center center">
                    <img src="/assets/images/chandrakant.jpg" style="width: 100%; border-radius: 50%;">
                </div>
                <div fxFlex="90">
                    <p>
                        Software Architect with 15 years of experience writing software in various technologies ranging
                        from
                        Python and Ruby to Spring Boot and Scala. I got introduced into the Open Source world in 2002
                        and it
                        was love at first sight. Started my Linux journey with Red Hat Linux(much before it became
                        Fedora)
                        and then switched over to Ubuntu in 2006. In 2007, read Linux from Scratch and every since LFS
                        and
                        BLFS have been the way of life.
                    </p>
                </div>
            </div>
            <div class="vspace"></div>
            <h3>Rakesh</h3>
            <strong>Co-Founder</strong>
            <div style="height: 15px;"></div>
            <div fxLayout="row" fxLayoutGap="20px">
                <div fxFlex="90">
                    <p>
                        Rakesh is a self-taught big data and .NET expert with over 15 years of expertise in development
                        and corporate training combined. He uses his technical prowess to build custom distributions for
                        organizations and train professionals on Big Data, Analytics and Machine Learning. When he is
                        free, he works on PrathamOS.
                    </p>
                </div>
            </div>
            <div class="vspace"></div>
            <p>
                <i>
                    Building and Maintaining a distribution is a task that needs massive efforts and despite the
                    team being a one man show, it would be great to have more helping hands. If you would like to join
                    the development of AryaLinux and contribute in any way - development, translation or testing, drop
                    in an email at aryalinux11@gmail.com.
                </i>
            </p>
        </div>
    </div>
    <div class="vspace"></div>
</div>
<app-footer></app-footer>