<div class="bg-dark">
    <app-nav></app-nav>
</div>
<div class="heading-band">
    <div class="container">
        <h2 class="pt-5 pb-5 text-white">Contact Us</h2>
    </div>
</div>
<div class="container">
    <div fxLayout="row" class="mb-5">
        <div fxFlex="50">
            <div class="p-3"></div>
            <p>
                If you are facing any issue in building/running AryaLinux, please visit the help and support section. Sometimes issues whose solutions are not provided in the help and support section have solutions in our forum at linuxquestions.org. If your issue still
                remains unresolved, please write to us at aryalinux11@gmail.com
            </p>
            <p>
                If AryaLinux has been useful to you or you like AryaLinux, please visit our
                <a target="_blank" href="http://distrowatch.com/arya">distrowatch page</a>. Every time you visit the above link, it results in an increase in our hit counter. Thus more people come to know about AryaLinux.
            </p>
            <p>
                If you would like to help us with translations, development or testing, then please write to us at aryalinux11@gmail.com and we would surely value your contribution. After all having more help in whatever we do would surely help us do better.
            </p>
        </div>
    </div>
</div>
<app-footer></app-footer>