<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><div>AryaLinux</div></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav" style="margin-left: auto;">
            <li class="nav-item">
              <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/downloads" routerLinkActive="active">Downloads</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/about" routerLinkActive="active">About AryaLinux</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/help" routerLinkActive="active">Help &amp; Support</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/docs" routerLinkActive="active">Documentation</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/contact-us" routerLinkActive="active">Contact Us</a>
            </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
