<div class="bg-dark">
    <app-nav></app-nav>
</div>
<div class="heading-band">
    <div class="container">
        <h2 class="pt-5 pb-5 text-white">Screenshots</h2>
    </div>
</div>
<div class="container">
    <div fxLayout="row" class="pt-4">
        <div fxFlex="20">
            <app-about-nav></app-about-nav>
        </div>
        <div fxFlex="80">
            <div fxLayout="row" fxLayoutGap="25px">
                <img src="assets/images/1.png">
                <img src="assets/images/2.png">
            </div>
            <div fxLayout="row" fxLayoutGap="25px">
                <div fxFlex="50">Gnome Desktop</div>
                <div fxFlex="50">Gnome Application Drawer</div>
            </div>
            <div class="vspace"></div>
            <div fxLayout="row" fxLayoutGap="25px">
                <img src="assets/images/3.png">
                <img src="assets/images/4.png">
            </div>
            <div fxLayout="row" fxLayoutGap="25px">
                <div fxFlex="50">Firefox</div>
                <div fxFlex="50">Celluloid Video player(gnome-mpv)</div>
            </div>
            <div class="vspace"></div>
            <div fxLayout="row" fxLayoutGap="25px">
                <img src="assets/images/5.png">
                <img src="assets/images/6.png">
            </div>
            <div fxLayout="row" fxLayoutGap="25px">
                <div fxFlex="50">Libreoffice Writer</div>
                <div fxFlex="50">alps in action</div>
            </div>
            <div class="vspace"></div>
            <div fxLayout="row" fxLayoutGap="25px">
                <img src="assets/images/7.png">
                <img src="assets/images/8.png">
            </div>
            <div fxLayout="row" fxLayoutGap="25px">
                <div fxFlex="50">Mate Desktop</div>
                <div fxFlex="50">Mate Desktop file manager - Caja</div>
            </div>
            <div class="vspace"></div>
            <div fxLayout="row" fxLayoutGap="25px">
                <img src="assets/images/9.png">
            </div>
            <div fxLayout="row" fxLayoutGap="25px">
                <div fxFlex="50">AryaLinux Installer</div>
            </div>
        </div>
    </div>
    <div class="vspace"></div>
</div>
<app-footer></app-footer>