<div class="bg-dark">
    <app-nav></app-nav>
</div>
<div class="heading-band">
    <div class="container">
        <h2 class="pt-5 pb-5 text-white">Downloads</h2>
    </div>
</div>
<div class="container">
    <div class="p-3"></div>
    <h3>Desktop Environment spins</h3>
    <p>
        Download AryaLinux with the desktop of your choice using one the following links. The links below are for Live ISO files. For each desktop environment, applications for day-to-day usage are installed like Browser, Document and Image viewer, Audio and
        Video player, image editor and office productivity suite. In order to install more applications, you can use alps, docker or flatpak. Read more about it here. If you want a Live ISO with just the desktop environment, see the Slim ISO section below.
    </p>
    <p>
        The Installer Issue with Gnome and KDE ISO has been fixed and the downloads below are for fixed ISOs.
    </p>
    <p>
        Please note that password for the aryalinux account and root in the Live Disk is aryalinux and has super user rights.
    </p>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>URL</th>
                <th>MD5</th>
                <th>Size</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>aryalinux-gnome-2.4-x86_64.iso</td>
                <td>5bd8d90fa4b2f735d21e04d089e7d159</td>
                <td>2.6 GB</td>
            </tr>
            <tr>
                <td>aryalinux-kde5-2.4-x86_64.iso</td>
                <td>1f17f55c22a0551ba0e72c3318b32749</td>
                <td>3.2 GB</td>
            </tr>
            <tr>
                <td>aryalinux-mate-2.4-x86_64.iso</td>
                <td>033474254e2a1cbbe589a126845aa556</td>
                <td>2.8 GB</td>
            </tr>
            <tr>
                <td>aryalinux-xfce-2.4-x86_64.iso</td>
                <td>97f6ab950b479b24f90b9db1295dffbf</td>
                <td>3.4 GB</td>
            </tr>
        </tbody>
    </table>
    <h3>Slim ISOs</h3>
    <p>
        Slim ISOs are Live ISOs with just the desktop environment. You can install applications of your choice once you install the Slim ISO. These ISOs are meant for customization purposes in case you want control over the installed applications.
    </p>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>URL</th>
                <th>MD5</th>
                <th>Size</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>aryalinux-gnome-slim-2.4-x86_64.iso</td>
                <td>e8dbf828da8433b3bea25edc98cc476e</td>
                <td>1.7 GB</td>
            </tr>
            <tr>
                <td>aryalinux-kde5-slim-2.4-x86_64.iso</td>
                <td>9f1ad19f792cc0aa0d4b8ae9c77c345a</td>
                <td>2.1 GB</td>
            </tr>
            <tr>
                <td>aryalinux-mate-slim-2.4-x86_64.iso</td>
                <td>3a75309b37d77c5184968293df377911</td>
                <td>1.6 GB</td>
            </tr>
            <tr>
                <td>aryalinux-xfce-slim-2.4-x86_64.iso</td>
                <td>838767255460211f56ac5fb7922fb414</td>
                <td>1.5 GB</td>
            </tr>
        </tbody>
    </table>
    <h3>Development Backups</h3>
    <p>
        During the build process of AryaLinux, we make backups at strategic points. You can download them below. A lot can be done with these backup files. Read more about them here.
    </p>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>URL</th>
                <th>MD5</th>
                <th>Size</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>AryaLinux 2.4 base system</td>
                <td>07e1c773639470c3689672de36309db5</td>
                <td>1.1 GB</td>
            </tr>
            <tr>
                <td>AryaLinux 2.4 base system with X Server</td>
                <td>e4c3e097239d4214bcf132bfe78a3567</td>
                <td>1.5 GB</td>
            </tr>
            <tr>
                <td>AryaLinux 2.4 base system with X Server and XFCE</td>
                <td>014b1fbb84a116c38407e25782e6cedc</td>
                <td>2.2 GB</td>
            </tr>
            <tr>
                <td>AryaLinux 2.4 base system with X Server and Mate</td>
                <td>75aed625a4a66de1ad662cefe613cc69</td>
                <td>2.4 GB</td>
            </tr>
            <tr>
                <td>AryaLinux 2.4 base system with X Server and KDE Plasma</td>
                <td>20ef27b623ec273dd6d5fccbf4e5827e</td>
                <td>2.9 GB</td>
            </tr>
            <tr>
                <td>AryaLinux 2.4 base system with X Server and Gnome</td>
                <td>59fe11c0966575cd5e22397e398e275b</td>
                <td>2.5 GB</td>
            </tr>
        </tbody>
    </table>
    <h3>Older Releases</h3>
    <p>
        For older releases, visit our sourceforge site:
        <a href="https://sourceforge.net/projects/aryalinux/files/">https://sourceforge.net/projects/aryalinux/files/</a>.
    </p>
</div>
<app-footer></app-footer>